.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    background: #625ac4;
    width: 800px;
    border-radius: 15px;
}

.quote{
    padding: 60px 110px;
    color: white;
    font-size: 32px;
    text-align: center;
}

.line{
    width: 680px;
    height: 1.5px;
    background-color: white;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.author{
    color: white;
    font: 20px;
    font-weight: 500;
}

.icons{
    display:flex;
    gap:50px;
}

.icons img {
    cursor: pointer;
    height: 36px;
}
